    .content
      width: 100%;
      padding 0 0.625rem
      box-sizing border-box
      background #fff
      .head
        width 100%
        .img
          float left
          width 2.0rem
          height 2.0rem
          padding 0.3125rem 0.5rem 0.3125rem 0.3125rem
          img
            width 100%
            height 100%
            line-height 2.5rem
            border-radius 50%
        .name
          float left
          height 2.625rem
          line-height 2.625rem
          font-size 0.8125rem
          color #898989
      .title
        width 100%
        padding 0.5rem 0
        a
          font-size 1.0rem
          line-height 1.4
          color #262829
      .video
        position relative
        width 22.1875rem
        height 22.1875rem
        video
          width 100%
          height 100%
        .bf
          position absolute
          left calc( 50% - 75px )
          top calc( 50% - 75px )
          width 150px
          height 150px
          background: url("../imgs/app.png") no-repeat -20px -250px
      .content_img
        width 22.1875rem
        img
          width 22.1875rem
      .item_tool
        width 100%
        ul
          width 100%
          display flex
          justify-content space-around
          align-items center
          li
            width 25%
            height 2.75rem
            line-height 2.75rem
            i
              display block
              width 1.0rem
              height 1.0rem
              background url("../imgs/app.png") no-repeat
              background-size 9.375rem auto
            span
              padding-left 0.3125rem
            .center
              display flex
              align-items center
              justify-content center
          li:nth-of-type(1) i
            background-position -1.125rem -3.0rem
          li:nth-of-type(2) i
            background-position -3.125rem -3.0rem
          li:nth-of-type(3) i
            background-position -5.3125rem -3.0rem
          li:nth-of-type(4) i
            background-position -7.375rem -3.0rem